---
---

@media only screen and (min-width: 600px) {
  .logo {
    width: 40%;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
  }
  header::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
  nav {
    width: 58%;
    float: right;
    position: relative;
    padding-top: 5%;
  }
  ul {
    padding-left: 20px;
  }
  ol {
    padding-left: 25px;
  }
  .nav_option {
    font-size: 24px;
  }
  .home_blogTitle {
    font-size: 22px;
  }
  .post_blogTitle {
    font-size: 22px;
  }
  .home_underTitle {
    padding: 0 15px;
  }
  .paragraph {
    font-size: 18px;
    padding: 0 15px;
  }
  .headerImage {
    height: 30vw;
  }
  .tags {
    padding-bottom: 15px;
  }
}
