---
layout: blog
---

<article class="blogArticle">
  <div class="headerImage" style="background-image: url(/img/{{ page.headerImage }});"></div>
  <h2 class="post_blogTitle">
    {{ page.title }}
  </h2>
  <div class="home_underTitle">
    <div class="home_date">{{ page.date | date_to_string }}</div>
  </div>
  <div class="blogBody paragraph">
    {{ content }}
  </div>
  <div class="paragraph tags">
    {% for tag in page.tags %}
      <div class="singleTag"> {{tag}}</div>
    {% endfor %}
  </div>
</article>
